<mat-card id="flex-container">
  <mat-card-header class="title"> Show Form </mat-card-header>
  <div *ngIf="errors && errors.length > 0" class="error-messages">
    <div *ngFor="let error of errors" class="error-message">
      {{ error }}
    </div>
  </div>
  <br />
  <mat-card-content>
    <form [formGroup]="showDetailsForm" class="center-text">
      <mat-form-field class="form-field-container">
        <mat-label>Show Name:</mat-label>
        <input
          id="show-name-input-field"
          matInput
          type="text"
          id="showName"
          formControlName="showName"
          required
          (change)="onShowNameChange($event)"
        />
      </mat-form-field>
      <br />
      <span class="left-align">
        <button mat-button (click)="onCancelClick()">
          <mat-icon>cancel</mat-icon>Cancel
        </button>
      </span>
      <span class="right-align">
        <button mat-button [disabled]="lockNext" (click)="onNextClick()">
          <mat-icon>check</mat-icon>Next
        </button>
      </span>
    </form>
  </mat-card-content>
</mat-card>
