# IDE and Editor files
*.iml
*.ipr
*.iws
.project
.classpath
.factorypath
.settings/
.metadata/
.recommenders/
.springBeans
.vscode/
.gradle/

# Build and binary files
*.jar
bin/
build/
out/
target/
*.class
*.log
*.tmp
*.swp
*.swo

# Gradle files
.gradle/
.gradle/
gradle-wrapper.jar
gradle-wrapper.properties

# Maven files
dependency-reduced-pom.xml
flattened-pom.xml
MANIFEST.MF

# OS-specific files
.DS_Store
Thumbs.db

# Node modules
node_modules/

# Logs and temporary files
*.log
build.log

# Environment and configuration files
*.env
secrets.yml
dump.rdb
interpolated*.xml

# Documentation and generated content
*.md.html
_site/
code/
manifest.yml

# Cache and temporary directories
.gradletasknamecache/
.sts4-cache/
.attach_pid*

# Miscellaneous
overridedb.*
lib/
activemq-data/
.git-hooks/
