body
  margin: 10px 10px 
  padding: 0
  display: flex
  justify-content: center
  align-items: center
  min-height: 100vh

mat-card
  background-color: #abd9d5
  border: 5px solid black
  padding: 20px
  max-width: 900px
  width: 100%
  margin: 0 auto

.flex-container
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  width: 100%

.row
  display: flex
  flex-direction: row
  justify-content: space-evenly
  align-items: center

.column
  display: flex
  flex-direction: column
  justify-content: center
  width: 100%
  margin: 10px 10px

.header
  font-size: 2rem
  font-weight: bold
  margin: 10px 10px
  text-align: center
  width: 100%

.rating-container
  display: flex
  justify-content: center
  width: 100%
  margin: 10px 10px

.star
  cursor: pointer
  color: grey

.star.filled
  color: #fdd835

.form-background
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  background-color: lightgrey
  border: black 1px solid
  border-radius: 8px
  padding: 20px
  width: 100%

mat-form-field
  width: 100%

img
  display: block
  margin: 0px 20px
  width: 100%
  max-width: 300px
  border: solid 1px black
  border-radius: 8px

.trump-card-container
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  width: 100%

.trump-card
  display: flex
  flex-direction: column
  align-items: center
  width: 100%
  padding: 20px
  background-color: lightgrey
  border: 1px solid black
  border-radius: 8px
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1)
  margin-bottom: 20px

.trump-card-header
  font-size: 18px
  font-weight: bold
  margin-bottom: 10px
  width: 100%
  text-align: center

.trump-card-body
  width: 100%

  .trump-card-item
    display: flex
    justify-content: space-between
    margin-bottom: 10px

  .trump-card-label
    font-weight: bold
    margin-right: 10px

  .trump-card-value
    flex-grow: 1

button
  display: flex
  align-items: center
  font-size: 1rem
  color: white
  border: none
  border-radius: 4px
  cursor: pointer
  padding: 10px 20px
  margin: 10px
  background-color: #2196f3
  transition: transform 0.3s ease-in-out

#success-message
  background-color: lightgreen
  border: 1px black solid
  padding: 1%
  margin-bottom: 10px
  max-width: 100%
  text-align: center
  border-radius: 8px

.text-counter
  font-size: 12px
  color: gray
  margin-top: 4px
  text-align: right
  width: 100%

.button-disabled
  background-color: lightgrey
  color: white
  border: black 1px solid
  cursor: not-allowed

.left-align, .right-align
  flex: 1
  display: flex
  justify-content: center

.center-text
  text-align: center
  padding: 20px
