.flex-container 
  display: flex
  align-items: center
  margin: 0px 10px

.header 
  font-size: 40px
  font-weight: bold
  padding: 20px

.sub-header 
  font-size: 25px
  font-weight: bold
  text-align: center
  padding: 20px

.sub-sub-header 
  font-size: 15px
  padding: 20px
  font-weight: bold
  font-style: italic
  text-align: center

.row
  flex-direction: row

.left-column
  margin: 0px 5px 0px 0px

.right-column
  margin: 0px 0px 0px 5px

.use-entire-row
  width: 100%
  margin: 0px 0px

mat-form-field
  width: 40vw

button 
  align-items: right

.rating-container 
  padding-top: 5px
  width: 40vw
  margin: 0px 10px

.star 
  cursor: pointer
  color: #ccc

.star.filled 
  color: #fdd835

img
  display: block
  margin-left: auto
  margin-right: auto
  width: 50%
  border: solid 4px black

.mat-expansion-panel-header 
  display: flex
  flex-direction: column
  align-items: center
  text-align: center


.sub-header-separator 
  margin-top: 8px
  margin-bottom: 8px
  height: 2px
  background-color: #ccc
  width: 100%


.mat-panel-title 
  font-size: 20px
  font-weight: bold


.mat-panel-description 
  font-size: 14px

.centered-header 
  display: flex
  flex-direction: column
  align-items: center
  text-align: center


.centered-title 
  font-size: 20px
  font-weight: bold
  margin-bottom: 5px


.centered-description 
  font-size: 14px
  font-style: italic

