@import url("https://fonts.googleapis.com/icon?family=Material+Icons")
@import '~@angular/material/prebuilt-themes/indigo-pink.css'

* 
  margin: 0

body 
  background-color: rgb(255, 255, 183)
  overflow-x: hidden

.row-icon-options 
  display: flex
  flex-direction: row
  align-items: center
  justify-content: center
  text-align: center

.scale-up-by-1-point-5
  transform: scale(1.5)
  margin: auto

.scale-up-by-2
  transform: scale(2)
  margin: auto

.scale-up-by-3
  transform: scale(3)
  margin: auto

.left-align
  float: left

.right-align 
  float: right

