<body>
  <button class="back-text" mat-button (click)="navigateToRoute()">
    <mat-icon class="back-icon">arrow_back</mat-icon>Back
  </button>
  <div class="container">
    <div class="header">About</div>
    <div class="content">
      <div class="section">
        <h1>This Application</h1>
        <p>
          I developed this application with the aim of enhancing my skills in
          Angular and Spring Boot. The backend is written using Java 8 with
          Spring Boot. I am using the Apache POI library to create the Show
          Export. The frontend is written using Angular. I am using Docker to
          host a Microsoft SQL Server instance.
        </p>
      </div>
      <div class="section">
        <!-- <h1>Me</h1> -->
        <p>
          Thank you for taking the time to explore my application! There are
          numerous aspects that I plan to continue improving upon. If you have
          any further inquiries or would like to connect with me on LinkedIn,
          please don't hesitate to reach out.
        </p>
      </div>
    </div>
    <div class="footer">
      <a href="https://linkedin.com/in/piers-kirk"
        >Connect with me on LinkedIn</a
      >
    </div>
    <br />
    <div class="pdf-container">
      <embed
        src="../../assets/Piers_Kirk_Resume.docx.pdf"
        type="application/pdf"
        width="100%"
        height="100%"
      />
    </div>
  </div>
</body>
