<!-- <body> -->
<!-- <ul>
    <li
      class="border-right"
      [id]="selectedButtonId === 'home' ? 'selected' : ''"
    >
      <button mat-button (click)="navigateToHome()">
        <mat-icon>home</mat-icon>Home
      </button>
    </li>
    <li
      class="border-right"
      [id]="selectedButtonId === 'about' ? 'selected' : ''"
    >
      <button mat-button (click)="navigateToAbout()">
        <mat-icon>person</mat-icon>About
      </button>
    </li>
    <li
      class="border-right"
      [id]="selectedButtonId === 'portfolio' ? 'selected' : ''"
    >
      <button mat-button (click)="navigateToPortfolio()">
        <mat-icon>library_books</mat-icon>Portfolio
      </button>
    </li>
    <li
      class="border-right"
      [id]="selectedButtonId === 'contact' ? 'selected' : ''"
    >
      <button mat-button (click)="navigateToContact()">
        <mat-icon>mail</mat-icon>Contact
      </button>
    </li>
    <li class="border-left" id="right-align-timestamp">
      Last Updated: {{ lastUpdateDate }}
    </li>
  </ul>
  <div class="parallax-section home">
    <div class="text-content">
      <p>Welcome! 👋</p>
      <p class="details">My name is Piers,</p>
      <p class="details">and I'm a Software Developer.</p>
      <p class="details">🧑‍💻😃</p>
    </div>
    <img src="../assets/PiersHome.jpeg" alt="Me" />
  </div>

  <div class="parallax-section about"></div>
  <div class="parallax-section portfolio"></div>
  <div class="parallax-section contact"></div> -->
<router-outlet></router-outlet>
<!-- </body> -->
