<div id="wrapper">
  <br>
<h1>Great Shows!</h1>
<body>
  <img class=image src="https://media2.giphy.com/media/Sb7WSbjHFNIL6/giphy.gif" alt="Spongebob" width="350" height="275">
  <br>
<table>
  <tr>
    <th>TV Show</th>
    <th>Streaming Platform</th>
    <th>Genre</th>
  </tr>
  <tr>
    <td>The Walking Dead</td>
    <td>Netflix</td>
    <td>Drama</td>
  </tr>
  <tr>
    <td>Breaking Bad</td>
    <td>Netflix</td>
    <td>Drama</td>
  </tr>
  <tr>
    <td>Euphoria</td>
    <td>HBO</td>
    <td>Drama</td>
  </tr>
  <tr>
    <td>American Horror Story</td>
    <td>Hulu</td>
    <td>Horror</td>
  </tr>
  <tr>
    <td>Spongebob</td>
    <td>Amazon Prime</td>
    <td>Family</td>
  </tr>
  <tr>
    <td>Fresh Meat</td>
    <td>Amazon Prime</td>
    <td>Comedy</td>
  </tr>
</table>
<br>
<div id="button-container">
  <button id="delete">Delete Show</button>
  &nbsp;
  <button id="add">Add Show</button>
</div>
<br>
<img class=image src="https://images7.alphacoders.com/329/329976.jpg" alt="The Walking Dead" width="1000" height="600">
</body>
</div>