@import url("https://fonts.googleapis.com/icon?family=Material+Icons")

body
    position: absolute 
    width: 100%
    background-color: yellow
    min-height: 100vh

img
    margin: auto
    display: block
    width: 15%
    border-radius: 50%
    border: 15px solid green

#shows-btn
    display: flex
    align-items: center
    justify-content: center
    color: black 
