@import url("https://fonts.googleapis.com/icon?family=Material+Icons")

html 
    position: absolute 
    height: 100% 
    width: 100%
    background-color: lightgreen

h1
    background-color: lightblue
    border: 6px solid black
    text-align: center
    margin: 0 auto
    width: 20%