<body>
  <div id="delete-and-export">
    <button mat-icon-button (click)="deleteShows()">
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-icon-button (click)="navigateToShowDetailForm(0)">
      <mat-icon>add_box</mat-icon>
    </button>
    <button mat-icon-button (click)="exportShows()">
      <mat-icon>print</mat-icon>
    </button>
  </div>

  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox
          (change)="$event ? masterToggle() : null"
          [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()"
        >
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox
          (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)"
        >
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="showName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Show Name</th>
      <td
        mat-cell
        *matCellDef="let show"
        (click)="navigateToShowDetailForm(show.showId)"
      >
        {{ show.showName }}
      </td>
    </ng-container>
    <ng-container matColumnDef="streamingPlatform">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Streaming Platform
      </th>
      <td
        mat-cell
        *matCellDef="let show"
        (click)="navigateToShowDetailForm(show.showId)"
      >
        {{ show.streamingPlatform }}
      </td>
    </ng-container>
    <ng-container matColumnDef="genre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Genre</th>
      <td
        mat-cell
        *matCellDef="let show"
        (click)="navigateToShowDetailForm(show.showId)"
      >
        {{ show.genre }}
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</body>
