<body>
  <div id="delete-and-export">
    <button mat-icon-button (click)="deleteShows()">
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-icon-button (click)="navigateToShowDetailForm(0)">
      <mat-icon>add_box</mat-icon>
    </button>
    <button mat-icon-button (click)="exportShows()">
      <mat-icon>print</mat-icon>
    </button>
  </div>

  <table id="tv-series-table">
    <thead>
      <tr>
        <th>Show Name</th>
        <th>Streaming Platform</th>
        <th>Genre</th>
        <mat-checkbox
          [checked]="checkboxIsChecked"
          (change)="selectAllCheckboxes($event.checked)"
        >
        </mat-checkbox>
      </tr>
    </thead>
    <tbody *ngFor="let show of shows">
      <tr>
        <td (click)="navigateToShowDetailForm(show.showId)">
          {{ show.showName }}
        </td>
        <td (click)="navigateToShowDetailForm(show.showId)">
          {{ show.streamingPlatform }}
        </td>
        <td (click)="navigateToShowDetailForm(show.showId)">
          {{ show.genre }}
        </td>
        <td>
          <mat-checkbox
            [checked]="show.checkbox"
            (change)="updateCheckboxField(show, $event.checked)"
          >
          </mat-checkbox>
        </td>
      </tr>
    </tbody>
  </table>
  <br />

  <!-- <form [formGroup]="showForm">
    <div class="input-container">
      <input
        type="text"
        placeholder="Show Name"
        formControlName="showName"
        maxlength="30"
      />
    </div>
    <div class="input-container">
      <input
        type="text"
        placeholder="Streaming Platform"
        formControlName="streamingPlatform"
        maxlength="30"
      />
    </div>
    <div class="input-container">
      <input
        type="text"
        placeholder="Genre"
        formControlName="genre"
        maxlength="30"
      />
    </div>
    <br />
  </form> -->
  <!-- <br />
  <button id="add-button" (click)="addShow()">Add Show</button>
  <br />
  <button id="delete-button" (click)="deleteShow()">Delete Last Show</button>
  <br /> -->
</body>
