<body class="row-icon-options">
  <div class="scale-up-by-3">
    <br />
    <button mat-button (click)="navigateToRoute('movies')">
      <mat-icon>movie</mat-icon>Movies
    </button>
    <button mat-button (click)="navigateToRoute('shows')">
      <mat-icon>tv</mat-icon>TV Shows
    </button>
    <button mat-button (click)="navigateToRoute('games')">
      <mat-icon>videogame_asset</mat-icon>Games
    </button>
    <button mat-button (click)="navigateToRoute('settings')">
      <mat-icon>settings</mat-icon>Settings
    </button>
  </div>
</body>
