<body>
  <!-- <button mat-icon-button (click)="openNetflix($event)">
    <mat-icon>delete</mat-icon>
  </button>
  <button mat-icon-button (click)="openMax($event)">
    <mat-icon>print</mat-icon>
  </button>
  <button mat-icon-button (click)="openNetflix($event)">
    <mat-icon>explore</mat-icon>
  </button>
  <button mat-icon-button (click)="openMax($event)">
    <mat-icon>save</mat-icon>
  </button>
  <img src="assets/menu-icons/netflix-logo.png" alt="netflix-logo" />
  <img src="assets/menu-icons/hbo-max-logo.png" alt="hbo-max-logo" />
  <img src="assets/menu-icons/disney-plus-logo.png" alt="disney-plus-logo" />
  <img src="assets/menu-icons/prime-video-logo.png" alt="prime-video-logo" /> -->
  <!-- <h1>WELCOME</h1> -->
</body>
